.section_container{
    min-height: 40vh;
    padding-inline: 3em;
    background-color: rgb(255, 166, 58);
}

.section_heading{
    border-bottom: solid white 1px;
    border: solid red 8px;
    padding-bottom: 0.3em;
    margin-block: 200px;

}

.carousal_slide{
    /* display: grid; */
    border: solid red;
}