.card__container{
    transition: transform 30ms linear;

}
.card__container:hover{
    transform: scale(1.1);
    transition: transform 30ms linear;
}

.card__img_container{
    cursor: pointer;
}
.card__body{
    display: flex;
    flex-wrap: wrap;
    cursor: default;
}

.card__body__title{
    flex-basis: 100%;
}

.card__body__description{
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 100%;
    white-space: nowrap;
}

.card__body__btn{
    background-color: rgb(128, 0, 0);
    margin-left: auto;
    border: none;
    cursor: pointer;
}