.form{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    background-color: #ddd;
    color : black;
    width : 40vw;
    border-radius: 10px;
   
   
}

.form_group{
    display: flex;
    justify-content: space-between;
    width : 100%;
    align-items: center;
    padding: 5px 0;
    margin : 0;

}

.shake{
    animation: horizontal-shaking .5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.form_input{
    padding: 5px 10px;
    border-radius: 5px;
    width : 60%;
}

.form_button{
    display: block;
    margin: 20px auto;
    padding : 10px;
    cursor: pointer;
    background-color: rgb(43, 88, 43);
    border : none;
    width : 100%;
    border-radius : 5px;
}

.form_button:hover{
    background-color : rgb(73, 190, 73);
}

.form_label{
    padding : 0;
    margin: 0;
    width : 30%;
}

@keyframes horizontal-shaking {
    
    0% { transform: translateX(0); filter: blur(4px); }
    25% { transform: translateX(10px); filter: blur(4px);}
    50% { transform: translateX(-10px);  filter: blur(4px); }
    75% { transform: translateX(10px) ;  filter: blur(4px); }
    100% { transform: translateX(0);  filter: blur(4px); }
}